.table button{
    text-align: center;
    height: 20px;
    width: 42px;
    margin: 5px;
}

h1{
    text-align: center;
}

.table{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
}
.display{
    text-align: center;
    width: 120vh;
    margin-left: auto;
    margin-right: auto;
}
.display input{
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    /* border: none;
    border-radius: none; */

}


.btn{
    background: none;
    border: none;
    border-radius: none;
}
#equal_btn{
    background: lightblue;
    border: none;
}
#num_btn{
    font-weight: bold;
}
#scical{
    background: none;
    border: none;
    border-radius: none;
}
.sbtn button{
    background: none;
    border: none;
    border-radius: none;

}
.drop-down{
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    text-align: center;
    margin-right: 82px;
    
}
.selector option{
    border: cadetblue;
    border-width: 2px;
}

.dropbtn {
    background-color: white;
    color: black;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  
  }
  

  .dropdown {
    position: relative;
    display: inline-block;
    align-items: center;
    margin-left: 500px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  

  .dropdown-content a:hover {background-color: #f1f1f1}
 
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .mc-btn button{
      color: lightslategrey;
  }

  .mr-btn button{
    color: lightslategrey;
}
#root button{
    font-size: 1px;
    color: white;

}
#root button i{
    font-size: 15px;
    color: black;
}
